.container{
    margin-top: 1.4rem;

}
h1 {
    font-size: 1.87rem;
}
.container  main {
    margin-top: 1.2 rem;
    height: 700px;
    overflow: auto; 
}
.note {
    color: #7a7676;
    font-size: 16px;
}
table{
    background: white;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    transition: ease 200ms all;   
    border-left: #3ccf5c solid 2px;
    border-right: #3ccf5c solid 2px;
    
}
tbody td{
    height: 2.8rem;
    border-bottom: 1px solid #3ccf5c;
    color: rgb(6, 95, 6);
    font-weight: 500;
}
tbody .last_child tr td{
    border: none;
}
